

$rubik-font:"Rubik Doodle Shadow", system-ui;
$poppins-font:"Poppins", sans-serif;

$green-color:#004225;
$light-yellow-color:#F5F5DC;
$dark-yellow-color:#FFB000;
$cream-yellow-color:#FFCF9D;
$cream-green-color:#D9EDBF;
$light-brown-color:#B19470;
$dark-brown-color:#76453B;

